{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-default" onclick="location.href='{% url 'post_new' %}'">New Post
                </button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="location.href='{% url 'post_list' %}'">
                        Published
                    </button>
                    <button type="button" class="btn btn-default btn-primary"
                            onclick="location.href='{% url 'post_draft_list' %}'">
                        Drafts
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </div>
            <div class="panel-body">
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
